.application-content{
  grid-column:  1 / 2;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3.5rem 1fr;
  flex: 1;
  grid-row-gap: 1rem;

  .form-div{
    justify-self: center;
    align-self: center;
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    display: flex;
    justify-content: center;
    input[type="text"] {
      width: 65%;
      height: 2.5rem;
      border-radius: 0.8rem;
      border: 2px solid black;
      padding: 10px;
      font-size: 1.12rem;
    }
    input[type="submit"] {
      padding: 10px 24px;
      border-radius: 0.8rem;
      border: 1px solid transparent;
      background-color: $amiibo-darkGreen;
      font-size: 1.12rem;
      color: #fff; 
    }
  }

  .amiibo-section {
    grid-column: 1/2;
    grid-row: 2/3;

    .amiibo-image {
      max-width: 134px;
    }
  }
}