.main-content {
  grid-column:  1 / 2;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 1rem;

  .card {
    display: flex;
    flex-direction: column;
    .card-content {
      text-align: center;
      .card-header{
        font-weight: 600;
        font-size: 1.3rem;
      }
      .card-body {
        width: 95%;
        margin: 0 auto;
        padding: 0.6rem;
        font-size: 1rem;
        font-weight: 300;
      }
    }
    .card-image {
      width: 332px;
      height: 332px;
      background-size: cover;
      margin: 0 auto;
    }
    .Ridley {
      background: url('../../images/Ridley-Mobile.png') top center no-repeat;
    }
    .Mario {
      background: url('../../images/Mario-Mobile.png') top center no-repeat;
    }
    .ROB {
      background: url('../../images/ROB-Mobile.png') top center no-repeat;
    }

    @media(min-width: 768px) {
      flex-direction: row;
      .card-content {
        flex-grow: 1;
        .card-header {
          font-size: 1.5rem;
        }
        .card-body {
          font-size: 1.2rem;
        }
      }
      .card-image {
        flex-grow: 2;
        flex-basis: 100%;
      }
    }
  }

  @media(min-width: 768px) {
    .card2 {
      flex-direction: row-reverse;
    }
  }
}